[Unit]
Description=Apply the AMDGPU power-saving profile
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/t2-dgpu-control-helper apply-power-saving

[Install]
WantedBy=multi-user.target
